<section class="page-banner">
  <div class="page-banner-img">
    <div style="background-image: url(/assets/images/banners/banner.png); background-size: cover; background-position: center; width: 100%; height: 400px;">
    </div>
  </div>
  <div class="wrapper">
    <div class="page-banner-inner">
      <div class="page-banner-default">
        <h1 class="page-banner-heading">Welcome to My Website</h1>
        <h2 class="page-banner-subheading">Explore Research and Projects</h2>
      </div>
    </div>
  </div>
</section>
