{%- if banner_height -%}
<style>
  {%- assign num = banner_height | times: 1 -%}
  {%- assign unit = banner_height | replace_first: num -%}
  {%- assign banner_min_height = banner_min_height | default: banner_height -%}
  
  html .page-banner {
    height: auto; /* Allow auto-height based on content */
    min-height: {{ banner_min_height }}; /* Ensure minimum height is respected */
    background-size: cover; /* Ensure the background covers the banner */
    background-position: center; /* Center the image */
  }
  html[data-scroll-status="top"] .page-banner {
    height: auto; /* Keep height consistent */
  }
</style>
{%- endif -%}

